.main-footer {
    display: grid;
    justify-content: center;
    text-align: center;
    padding: 100px 20px;
    background-color: $color--main-footer-background;
    color: #ffffff;
    &__titel {
        font-size: 1.8rem;
    }
    &__text {
        font-size: 0.6rem;
        padding-top: 1.8rem;
        &--accent {
            font-weight: bold;
            color: #f97c7c;
        }
    }
}
