.main-header {
    display: grid;
    grid-template-rows: auto 1fr;
    min-block-size: 100vh;
    background-image: url(../../img/mars-one-page/hero-1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    overflow: hidden;
    position: relative;
    &__article {
        position: absolute;
        box-sizing: content-box;
        top: 25vh;
        right: 6vw;
        padding-left: 6vw;
        z-index: 2;
        max-inline-size: 420px;
        &__title {
            box-sizing: border-box;
            margin: 0 20px 10px 20px;
            padding-bottom: 20px;
            color: #ffffff;
            border-bottom: solid 5px #ffffff;
            font-size: 2.8rem;
        }
        &__text {
            box-sizing: border-box;
            margin: 0 20px;
            color: #436dac;
            font-size: 2rem;
        }
    }
}
.main-header::after {
    position: absolute;
    content: "";
    width: 150vw;
    height: 150vh;
    top: -70vh;
    left: -10vw;
    border-radius: 100% / 100%;
    background: linear-gradient(#00132c, rgb(21, 52, 98));
    transform: rotate(15deg);
    border: 15px solid #436dac;
}
@media (min-width: 700px) {
    .main-header__article {
        top: 20vh;
    }
    .main-header::after {
        left: -50vh;
    }
}

@media (min-width: 800px) {
    .main-header__article {
        right: 12vw;
        &__title {
            font-size: 4rem;
        }
    }
}

@media (min-width: 1100px) {
    .main-header::after {
        left: -50vh;
        top: -90vh;
    }
}

@media (min-width: 1500px) {
}

@media (min-width: 1778px) {
}

@media (min-width: 2000px) {
}
