@keyframes spin-right {
    100% {
        transform: rotate(360deg);
    }
}

.faq-section2 {
    .orbit-container {
        background-color: grey;
        background-image: url(../../img/FAQ-page/hero-2.jpg);
        background-position: center;
        background-size: cover;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-inline-size: 30vw;
        block-size: 100vw;
        .mars {
            inline-size: 10%;
            transform-origin: -30vw 0;
            animation: spin-right 9s linear infinite;
            left: 30vw;
            top: 25vw;
        }
        .sun {
            inline-size: 20%;
        }
        .earth {
            inline-size: 10%;
            transform-origin: -13vw 0;
            animation: spin-right 6s linear infinite;
            left: 17vw;
            top: -8vw;
        }
    }
    &__article {
        padding: 20px 20px 40px 20px;
        &__title {
            padding: 0 0 20px 0;
        }
    }
}

@media (min-width: 800px) {
    .faq-section2 {
        .orbit-container {
            block-size: unset;
            .mars {
                inline-size: 10%;
                transform-origin: -9vw 0;
                animation: spin-right 9s linear infinite;
                left: 9vw;
                top: 5vw;
            }
            .sun {
                inline-size: 20%;
            }
            .earth {
                inline-size: 10%;
                transform-origin: -4vw 0;
                animation: spin-right 6s linear infinite;
                left: 5vw;
                top: -3vw;
            }
        }
        display: flex;
        &__article {
            padding: 70px;
        }
    }
}
