.faq-section1 {
    display: grid;
    gap: 16px;
    background-color: $color--section-background;
    padding: 16px;
    &__title {
        padding: 40px 0 20px 0;
        text-align: center;
        color: #2c4f80;
    }
    &__grid-item1 {
        padding: 40px 20px;
        background-color: #ffffff;
        box-shadow: 0 2px 4px 0 rgba(161, 161, 161, 0.5);
        &__title {
            padding: 0 0 26px 0;
        }
    }
    &__grid-item2 {
        padding: 40px 20px;
        background-color: #ffffff;
        box-shadow: 0 2px 4px 0 rgba(161, 161, 161, 0.5);
        &__title {
            padding: 0 0 26px 0;
        }
        &__list {
            margin: 20px 0;
            list-style: none;
            li {
                font-weight: bold;
                padding: 5px 0;
                font-size: 0.84rem;
            }
            li:before {
                content: "•";
                padding-right: 20px;
                color: #e32700;
            }
        }
    }
    &__grid-item3 {
        background-color: #ffffff;
        display: flex;
        flex-direction: column;
        padding: 0 0 40px 0;
        box-shadow: 0 2px 4px 0 rgba(161, 161, 161, 0.5);
        &__article {
            padding: 20px;
            &__title {
                padding: 0 0 20px 0;
            }
        }
    }
}

@media (min-width: 1500px) {
    .faq-section1__grid-item2__list {
        li {
            font-size: 1rem;
        }
    }
}

@media (min-width: 1778px) {
    .faq-section1__grid-item2__list {
        li {
            font-size: 1.1rem;
        }
    }
}

@media (min-width: 2000px) {
    .faq-section1__grid-item2__list {
        li {
            font-size: 1.2rem;
        }
    }
}

@media (min-width: 1050px) {
    .faq-section1 {
        grid-template-columns: 1fr 2fr;
        grid-template-rows: auto 1fr 1fr;
        grid-template-areas:
            "title title"
            "aside top-right"
            "aside bottom-right";
        gap: 20px;
        padding-bottom: 30px;
        &__title {
            grid-area: title;
        }
        &__grid-item {
            padding: 60px;
        }
        &__grid-item1 {
            grid-area: aside;
        }
        &__grid-item2 {
            grid-area: top-right;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            &__list {
                margin: 0;
                li:before {
                    padding-right: 30px;
                }
            }
        }
        &__grid-item3 {
            grid-area: bottom-right;
            flex-direction: row-reverse;
            padding: 0;
            .img-wrapper {
                min-inline-size: 50%;
            }
            &__article {
                align-self: center;
                padding: 60px;
            }
        }
    }
}
