.jtc-header {
    background-image: url(../../img/join-the-crew-page/hero-3.jpg);
    .main-header__article {
        box-sizing: content-box;
        justify-self: flex-start;
        padding: 45vh 8vw 0 10vw;
        z-index: 2;
        max-inline-size: 420px;
        &__title {
            box-sizing: border-box;
            margin: 0 20px 10px 20px;
            padding-bottom: 20px;
            color: #ffffff;
            border-bottom: solid 5px #ffffff;
            font-size: 3rem;
        }
        &__text {
            box-sizing: border-box;
            margin: 0 20px;
            color: #436dac;
            font-size: 2rem;
        }
    }
}
.jtc-header::after {
    position: absolute;
    top: 30vh;
    left: -30vw;
    transform: rotate(195deg);
}
@media (min-width: 900px) {
    .jtc-header::after {
        top: 40vh;
        left: -30vw;
    }
}
@media (min-width: 1100px) {
    .jtc-header::after {
        top: 50vh;
        left: -30vw;
    }
}
