.jtc-section1 {
    display: grid;
    padding: 40px 10px;
    &__title {
        justify-self: center;
        padding-bottom: 20px;
    }
    &__text {
        max-inline-size: 100%;
        justify-self: center;
        padding: 10px 16px 40px 16px;
    }
    &__form {
        margin: 0 10px;
        padding: 20px 20px;
        box-shadow: 0 4px 15px 0 rgba(185, 185, 185, 0.5);
    }
}
.input-wrapper {
    display: block;
    font-size: 14px;
    color: $color--main-footer-background;
    margin: 16px 0;
    &__input {
        inline-size: 100%;
        border-radius: 5px;
        border: solid 1px $color--main-footer-background;
        block-size: 39px;
        font-size: 16px;
        margin-top: 3px;
        padding: 0 10px;
        box-shadow: unset;
    }
    &__btn {
        background-color: #ffffff;
        color: $color--main-footer-background;
    }
}

@media (min-width: 600px) {
    .jtc-section1__form {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr auto 1fr;
        grid-template-areas:
            "first-name last-name date-of-birth"
            "professional prime-skill ."
            "motivation motivation motivation"
            ". btn .";
        column-gap: 5vw;
        row-gap: 2vw;
        padding: 5vw;
        .first-name {
            grid-area: first-name;
        }
        .last-name {
            grid-area: last-name;
        }
        .date-of-birth {
            grid-area: date-of-birth;
            max-inline-size: 60%;
            justify-self: center;
        }
        .professional {
            grid-area: professional;
        }
        .prime-skill {
            grid-area: prime-skill;
        }
        .motivation {
            grid-area: motivation;
            &__input {
                min-block-size: 200px;
            }
        }
        .btn {
            grid-area: btn;
        }
    }
}
