.jtc-header {
    background-image: url(../../img/join-the-crew-page/hero-3.jpg);
    .main-header__article {
        box-sizing: content-box;
        justify-self: flex-start;
        left: 0;
        top: unset;
        bottom: 6vh;
        z-index: 2;
        max-inline-size: 420px;
        &__title {
            margin: 0 20px 10px 20px;
        }
    }
}
.jtc-header::after {
    position: absolute;
    top: 35vh;
    left: -50vw;
    transform: rotate(195deg);
}
@media (min-width: 397px) {
    .jtc-header::after {
        top: 40vh;
    }
}
@media (min-width: 407px) {
    .jtc-header::after {
        top: 45vh;
    }
}
@media (min-width: 650px) {
    .jtc-header::after {
        left: -30vw;
    }
}
@media (min-width: 800px) {
    .jtc-header::after {
        left: -30vw;
    }
}
@media (min-width: 900px) {
    .jtc-header::after {
        top: 45vh;
        left: -30vw;
    }
}
@media (min-width: 1100px) {
    .jtc-header::after {
        top: 50vh;
        left: -30vw;
    }
}
