@import "variables/variables";
@import "partial/nav";
@import "partial/header";
@import "partial/footer";
@import "mars-one-page/index__section1";
@import "mars-one-page/index__section2";
@import "FAQ-page/faq__section1";
@import "FAQ-page/faq__section2";
@import "join-the-crew-page/jtc-header";
@import "join-the-crew-page/jtc-section1";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: "Montserrat", sans-serif;
}
h2 {
    font-size: 2rem;
}
h1,
h2,
h3 {
    color: #e32700;
}

@media (min-width: 1500px) {
    h2 {
        font-size: 2.2rem;
    }
    h3 {
        font-size: 1.7rem;
    }
    p {
        font-size: 1.1rem;
    }
}

@media (min-width: 1778px) {
    h2 {
        font-size: 2.4rem;
    }
    h3 {
        font-size: 1.8rem;
    }
    p {
        font-size: 1.3rem;
    }
}

@media (min-width: 2000px) {
    h2 {
        font-size: 2.6rem;
    }
    h3 {
        font-size: 1.95rem;
    }
    p {
        font-size: 1.4rem;
    }
}

.img-wrapper {
    position: relative;
    &__img {
        display: block;
        object-fit: cover;
        block-size: 100%;
        max-block-size: 100%;
        inline-size: 100%;
        max-inline-size: 100%;
        // position: absolute;
        // top: 0;
        // left: 0;
    }
}

@keyframes spin-right {
    100% {
        transform: rotate(360deg);
    }
}
