@charset "UTF-8";
.main-nav {
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #061b38;
  padding: 20px;
  max-inline-size: 100vw;
}

.main-nav__logo-wrapper {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.main-nav__main-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  list-style: none;
  margin-top: 30px;
}

.main-nav__main-list__item a {
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
  padding-bottom: 5px;
}

.main-nav__main-list__item a:hover {
  border-bottom: solid 3px #e32700;
}

.main-nav__main-list__item a:active {
  border-bottom: solid 3px #e32700;
}

@media (min-width: 700px) {
  .main-nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .main-nav__main-list {
    margin: 0;
    inline-size: 50%;
  }
}

.main-header {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto 1fr;
      grid-template-rows: auto 1fr;
  min-block-size: 100vh;
  background-image: url(../../img/mars-one-page/hero-1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  overflow: hidden;
  position: relative;
}

.main-header__article {
  position: absolute;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  top: 25vh;
  right: 6vw;
  padding-left: 6vw;
  z-index: 2;
  max-inline-size: 420px;
}

.main-header__article__title {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 20px 10px 20px;
  padding-bottom: 20px;
  color: #ffffff;
  border-bottom: solid 5px #ffffff;
  font-size: 2.8rem;
}

.main-header__article__text {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 20px;
  color: #436dac;
  font-size: 2rem;
}

.main-header::after {
  position: absolute;
  content: "";
  width: 150vw;
  height: 150vh;
  top: -70vh;
  left: -10vw;
  border-radius: 100% / 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(#00132c), to(#153462));
  background: linear-gradient(#00132c, #153462);
  -webkit-transform: rotate(15deg);
          transform: rotate(15deg);
  border: 15px solid #436dac;
}

@media (min-width: 700px) {
  .main-header__article {
    top: 20vh;
  }
  .main-header::after {
    left: -50vh;
  }
}

@media (min-width: 1100px) {
  .main-header::after {
    left: -50vh;
    top: -90vh;
  }
}

.main-footer {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  padding: 100px 20px;
  background-color: #2c4f80;
  color: #ffffff;
}

.main-footer__titel {
  font-size: 1.8rem;
}

.main-footer__text {
  font-size: 0.6rem;
  padding-top: 1.8rem;
}

.main-footer__text--accent {
  font-weight: bold;
  color: #f97c7c;
}

.section1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.section1__article {
  padding: 50px 20px 40px 20px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.section1__article__title {
  padding-bottom: 20px;
}

.section1__article__text--accent {
  font-weight: bold;
  color: #e32700;
}

@media (min-width: 850px) {
  .section1 {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .section1__article {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    padding: 50px 100px;
  }
  .section1 .img-wrapper {
    min-inline-size: 45%;
  }
}

.section2 {
  background-color: #f1f1f1;
  padding: 40px 16px;
}

.section2__title {
  font-size: 2rem;
  text-align: center;
  padding: 20px 0;
}

.section2__grid-container {
  display: -ms-grid;
  display: grid;
  gap: 16px;
}

.section2__grid-container__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #ffffff;
  -webkit-box-shadow: 0 2px 4px 0 rgba(201, 201, 201, 0.5);
          box-shadow: 0 2px 4px 0 rgba(201, 201, 201, 0.5);
}

.section2__grid-container__item__img-wrapper {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding: 60px 60px 20px 60px;
  max-inline-size: 330px;
}

.section2__grid-container__item__img-wrapper .img-wrapper__img {
  -webkit-animation: spin-right 20s linear infinite;
          animation: spin-right 20s linear infinite;
}

.section2__grid-container__item__article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-item-align: center;
      align-self: center;
  max-inline-size: 500px;
  padding: 30px 20px;
}

.section2__grid-container__item__article__btn {
  inline-size: 140px;
  padding: 10px 30px;
  margin: 50px 0 30px 0;
  cursor: pointer;
  border-radius: 10px;
  border: solid 2px #2c4f80;
  color: #2c4f80;
  font-size: 14px;
  background-color: #ffffff;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
}

.section2__grid-container__item__article__btn:hover {
  background-color: #2c4f80;
  color: #ffffff;
}

.article3 {
  padding: 0;
}

.article3__img-wrapper {
  max-inline-size: 100%;
  max-block-size: 100%;
  block-size: 100%;
  inline-size: 100%;
  padding: 0;
}

.article3__img-wrapper .img-wrapper__img {
  -webkit-animation: unset;
          animation: unset;
}

@media (min-width: 700px) {
  .section2__grid-container {
    margin: 30px 30px 50px 30px;
  }
  .section2__grid-container__item {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 0;
  }
  .section2__grid-container__item__img-wrapper {
    inline-size: 40%;
    padding: 60px;
  }
  .section2__grid-container__item__article {
    padding: 20px 40px;
  }
  .section2__grid-container__item__article__btn {
    -ms-flex-item-align: start;
        align-self: flex-start;
    margin: 20px 0 0 0;
  }
  .article3__img-wrapper {
    padding: 0;
  }
}

@media (min-width: 1100px) {
  .section2__grid-container {
    -ms-grid-columns: 2fr 1fr;
        grid-template-columns: 2fr 1fr;
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: "top-left aside" "bottom-left aside";
    gap: 20px;
  }
  .section2__grid-container__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .section2__grid-container__item__img-wrapper {
    padding: 0 60px;
  }
  .section2__grid-container__item__article {
    -ms-grid-column-align: center;
        justify-self: center;
  }
  .article1 {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: top-left;
  }
  .article1__article {
    padding: 0 40px;
  }
  .article2 {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    -ms-grid-column: 2;
    grid-area: aside;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .article2__img-wrapper {
    inline-size: 100%;
    margin: 40px 0 30px 0;
  }
  .article2__article {
    padding: 0 40px 55px 40px;
  }
  .article3 {
    padding: 0;
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: bottom-left;
  }
  .article3__article {
    padding: 55px 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    justify-self: unset;
    -ms-flex-item-align: unset;
        align-self: unset;
  }
  .article3__img-wrapper {
    padding: 0;
  }
}

.faq-section1 {
  display: -ms-grid;
  display: grid;
  gap: 16px;
  background-color: #f1f1f1;
  padding: 16px;
}

.faq-section1__title {
  padding: 40px 0 20px 0;
  text-align: center;
  color: #2c4f80;
}

.faq-section1__grid-item1 {
  padding: 40px 20px;
  background-color: #ffffff;
  -webkit-box-shadow: 0 2px 4px 0 rgba(161, 161, 161, 0.5);
          box-shadow: 0 2px 4px 0 rgba(161, 161, 161, 0.5);
}

.faq-section1__grid-item1__title {
  padding: 0 0 26px 0;
}

.faq-section1__grid-item2 {
  padding: 40px 20px;
  background-color: #ffffff;
  -webkit-box-shadow: 0 2px 4px 0 rgba(161, 161, 161, 0.5);
          box-shadow: 0 2px 4px 0 rgba(161, 161, 161, 0.5);
}

.faq-section1__grid-item2__title {
  padding: 0 0 26px 0;
}

.faq-section1__grid-item2__list {
  margin: 20px 0;
  list-style: none;
}

.faq-section1__grid-item2__list li {
  font-weight: bold;
  padding: 5px 0;
  font-size: 0.84rem;
}

.faq-section1__grid-item2__list li:before {
  content: "•";
  padding-right: 20px;
  color: #e32700;
}

.faq-section1__grid-item3 {
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 0 40px 0;
  -webkit-box-shadow: 0 2px 4px 0 rgba(161, 161, 161, 0.5);
          box-shadow: 0 2px 4px 0 rgba(161, 161, 161, 0.5);
}

.faq-section1__grid-item3__article {
  padding: 20px;
}

.faq-section1__grid-item3__article__title {
  padding: 0 0 20px 0;
}

@media (min-width: 1050px) {
  .faq-section1 {
    -ms-grid-columns: 1fr 2fr;
        grid-template-columns: 1fr 2fr;
    -ms-grid-rows: auto 1fr 1fr;
        grid-template-rows: auto 1fr 1fr;
        grid-template-areas: "title title" "aside top-right" "aside bottom-right";
    gap: 20px;
    padding-bottom: 30px;
  }
  .faq-section1__title {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: title;
  }
  .faq-section1__grid-item {
    padding: 60px;
  }
  .faq-section1__grid-item1 {
    -ms-grid-row: 2;
    -ms-grid-row-span: 2;
    -ms-grid-column: 1;
    grid-area: aside;
  }
  .faq-section1__grid-item2 {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    grid-area: top-right;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .faq-section1__grid-item2__list {
    margin: 0;
  }
  .faq-section1__grid-item2__list li:before {
    padding-right: 30px;
  }
  .faq-section1__grid-item3 {
    -ms-grid-row: 3;
    -ms-grid-column: 2;
    grid-area: bottom-right;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    padding: 0;
  }
  .faq-section1__grid-item3 .img-wrapper {
    min-inline-size: 50%;
  }
  .faq-section1__grid-item3__article {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    padding: 60px;
  }
}

.faq-section2 .orbit-container {
  background-image: url(../../img/FAQ-page/hero-2.jpg);
  background-position: center;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-inline-size: 30vw;
  block-size: 100vw;
}

.faq-section2 .orbit-container .mars {
  inline-size: 10%;
  -webkit-transform-origin: -30vw 0;
          transform-origin: -30vw 0;
  -webkit-animation: spin-right 10s linear infinite;
          animation: spin-right 10s linear infinite;
  left: 30vw;
  top: 25vw;
}

.faq-section2 .orbit-container .sun {
  inline-size: 20%;
  -webkit-animation: spin-right 12s linear infinite;
          animation: spin-right 12s linear infinite;
}

.faq-section2 .orbit-container .earth {
  inline-size: 10%;
  -webkit-transform-origin: -13vw 0;
          transform-origin: -13vw 0;
  -webkit-animation: spin-right 7s linear infinite;
          animation: spin-right 7s linear infinite;
  left: 17vw;
  top: -8vw;
}

.faq-section2__article {
  padding: 20px 20px 40px 20px;
}

.faq-section2__article__title {
  padding: 0 0 20px 0;
}

@media (min-width: 800px) {
  .faq-section2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .faq-section2 .orbit-container {
    block-size: unset;
    min-block-size: 30vw;
  }
  .faq-section2 .orbit-container .mars {
    -webkit-transform-origin: -9vw 0;
            transform-origin: -9vw 0;
    left: 9vw;
    top: 5vw;
  }
  .faq-section2 .orbit-container .earth {
    -webkit-transform-origin: -4vw 0;
            transform-origin: -4vw 0;
    left: 5vw;
    top: -3vw;
  }
  .faq-section2__article {
    padding: 70px;
  }
}

.jtc-header {
  background-image: url(../../img/join-the-crew-page/hero-3.jpg);
}

.jtc-header .main-header__article {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  justify-self: flex-start;
  left: 0;
  top: unset;
  bottom: 6vh;
  z-index: 2;
  max-inline-size: 420px;
}

.jtc-header .main-header__article__title {
  margin: 0 20px 10px 20px;
}

.jtc-header::after {
  position: absolute;
  top: 35vh;
  left: -50vw;
  -webkit-transform: rotate(195deg);
          transform: rotate(195deg);
}

@media (min-width: 397px) {
  .jtc-header::after {
    top: 40vh;
  }
}

@media (min-width: 407px) {
  .jtc-header::after {
    top: 45vh;
  }
}

@media (min-width: 650px) {
  .jtc-header::after {
    left: -30vw;
  }
}

@media (min-width: 800px) {
  .jtc-header::after {
    left: -30vw;
  }
}

@media (min-width: 900px) {
  .jtc-header::after {
    top: 50vh;
    left: -30vw;
  }
}

@media (min-width: 1100px) {
  .jtc-header::after {
    top: 55vh;
    left: -30vw;
  }
}

.jtc-section1 {
  display: -ms-grid;
  display: grid;
  padding: 40px 10px;
}

.jtc-section1__title {
  -ms-grid-column-align: center;
      justify-self: center;
  padding-bottom: 20px;
}

.jtc-section1__text {
  max-inline-size: 100%;
  -ms-grid-column-align: center;
      justify-self: center;
  padding: 10px 16px 40px 16px;
}

.jtc-section1__form {
  margin: 0 10px;
  padding: 20px 20px;
  -webkit-box-shadow: 0 4px 15px 0 rgba(185, 185, 185, 0.5);
          box-shadow: 0 4px 15px 0 rgba(185, 185, 185, 0.5);
}

.jtc-section1__form .motivation__input {
  min-block-size: 200px;
}

.input-wrapper {
  display: block;
  font-size: 14px;
  color: #2c4f80;
  margin: 16px 0;
}

.input-wrapper__input {
  inline-size: 100%;
  border-radius: 5px;
  border: solid 1px #2c4f80;
  block-size: 39px;
  font-size: 16px;
  margin-top: 3px;
  padding: 0 10px;
  -webkit-box-shadow: unset;
          box-shadow: unset;
}

.input-wrapper__btn {
  background-color: #ffffff;
  color: #2c4f80;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
  cursor: pointer;
}

.input-wrapper__btn:hover {
  background-color: #2c4f80;
  color: #ffffff;
}

@media (min-width: 900px) {
  .jtc-section1 {
    padding: 70px 100px;
  }
  .jtc-section1__form {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    -ms-grid-rows: 1fr 1fr auto 1fr;
        grid-template-rows: 1fr 1fr auto 1fr;
        grid-template-areas: "first-name last-name date-of-birth" "professional prime-skill ." "motivation motivation motivation" ". btn .";
    -webkit-column-gap: 5vw;
            column-gap: 5vw;
    row-gap: 2vw;
    padding: 40px 70px 0 70px;
  }
  .jtc-section1__form .input-wrapper {
    min-inline-size: 150px;
  }
  .jtc-section1__form .first-name {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: first-name;
  }
  .jtc-section1__form .last-name {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: last-name;
  }
  .jtc-section1__form .date-of-birth {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
    grid-area: date-of-birth;
    -ms-grid-column-align: center;
        justify-self: center;
  }
  .jtc-section1__form .professional {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: professional;
  }
  .jtc-section1__form .prime-skill {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    grid-area: prime-skill;
  }
  .jtc-section1__form .motivation {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-area: motivation;
  }
  .jtc-section1__form .btn {
    margin-top: 10px;
    -ms-grid-row: 4;
    -ms-grid-column: 2;
    grid-area: btn;
    max-inline-size: 50%;
    -ms-grid-column-align: center;
        justify-self: center;
  }
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}

h1,
h2,
h3 {
  color: #e32700;
}

.img-wrapper {
  position: relative;
}

.img-wrapper__img {
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  block-size: 100%;
  max-block-size: 100%;
  inline-size: 100%;
  max-inline-size: 100%;
}

@-webkit-keyframes spin-right {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin-right {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
/*# sourceMappingURL=main.css.map */