.section2 {
  background-color: $color--section-background;
  padding: 40px 16px;
  &__title {
    font-size: 2rem;
    text-align: center;
    padding: 20px 0;
  }
  &__grid-container {
    display: grid;
    gap: 16px;
    &__item {
      display: grid;
      background-color: #ffffff;
      padding: 20px;
      &__img {
        object-fit: cover;
        max-inline-size: 80%;
        max-block-size: 80%;
        align-self: center;
        justify-self: center;
      }
      &__article {
        display: grid;
        padding: 16px 0;
        align-self: center;
        max-inline-size: 500px;
        justify-self: center;
        &__btn {
          padding: 10px 30px;
          margin: 30px 0 0 0;
          cursor: pointer;
          border-radius: 10px;
          border: solid 2px #2c4f80;
          color: #2c4f80;
          font-size: 14px;
          background-color: #ffffff;
          justify-self: center;
        }
      }
    }
  }
}
.article1 {
  &__img {
    block-size: 60%;
  }
}
.article3 {
  padding: unset;
  &__img {
    padding: 0;
    max-inline-size: 100%;
    max-block-size: 100%;
  }
  &__article {
    padding: 16px;
    align-self: center;
  }
}

@media (min-width: 660px) {
  .section2 {
    &__grid-container {
      margin: 5%;
      grid-template-rows: 1fr 1fr 1fr;
      &__item {
        grid-auto-flow: column;
        &__img {
          align-self: center;
          justify-content: center;
        }
        &__article {
          inline-size: 80%;
          justify-self: center;
          padding: 0;
        }
        &__article__btn {
          justify-self: flex-start;
        }
      }
    }
  }
}

@media (min-width: 1100px) {
  .section2 {
    &__grid-container {
      // margin: 5%;
      grid-template-columns: 2fr 1fr;
      grid-template-rows: 1fr 1fr;
      grid-template-areas:
        "top-left aside"
        "bottom-left aside";
      &__item {
        &__article {
          inline-size: 80%;
          justify-self: center;
          padding: 0;
        }
        &__article__btn {
          justify-self: flex-start;
        }
      }
    }
  }
  .article1 {
    grid-area: top-left;
  }
  .article2 {
    grid-area: aside;
    grid-auto-flow: row;
  }
  .article3 {
    grid-area: bottom-left;
    &__img {
      object-fit: cover;
      padding: 0;
      block-size: 100%;
    }
  }
}
